:root {
    --primary-color: red;
    --blue: rgb(59, 143, 252);
    --yellow: hsl(59, 99%, 40%);
    --orange: orange;
    --green: limegreen;
    --pink: rgb(240, 104, 206);
    --red: red;
}

.arrow-container {
    background-color: var(--primary-color);
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    right: 25px;
}

#arrow-up {
    color: white;
    position: fixed;
    font-size: 40px;
    z-index: 20;
}